*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    scroll-behavior: smooth !important;
}
body{
    overflow-x: hidden !important;
}
body::-webkit-scrollbar{
    display: none;
}
div.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 400px;
    background-color: #35a6b6;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    display: none;
}
div.pop-up.block{
    display: block;
}
div.pop-up h2{
    font-size: 38px;
    color: white;
    margin-bottom: 25px;
}
div.pop-up img{
    width: 200px;
}
div.pop-up i{
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
div.pop-up span{
    transform: rotate(90deg);
}
section{
    width: 100%;
}
section.hero{
    height: 112vh;
    background-color: #001B26;
}
video.hero{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

@media (max-aspect-ratio: 16/9){
    video.hero{
        width: auto;
        height: 100%;
    }
}
img.mute{
    position: absolute;
    bottom: 10vh;
    right: 3%;
    cursor: pointer;
}
div.nav{
    width: 100%;
}
div.private{
    padding: 15px;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.43);
    text-align: center;
    border-radius: 10px;
    width: fit-content;
}
div.private a{
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}
div.private p span{
    color: #35a6b6;
}
div.private p{
    color: white;
    font-size: 21px;
    font-weight: 700;
}
nav{
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    padding: 20px 25px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    z-index: 2;
    position: fixed;
}
.nav-links{
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 2rem;
}
nav img[src = "./tiptop_files/logo.c5bda3ac6c062cdbd23697a4c38d7d13.svg"]{
    width: 128.56px;
}
img[src="./tiptop_files/bars.svg"], img[src="./tiptop_files/close-bars.svg"]{
    display: none;
    cursor: pointer;
}
nav ul{
    display: inline-flex;
    gap: 12px;
    list-style: none;
}
nav ul li:nth-child(5){
    display: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    transition: .5s ease forwards;
}
li button{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    transition: .5s ease forwards;
    background-color: transparent; 
    border: transparent;
    font-family: poppins;
    cursor: pointer;
}
nav ul li a:hover , li button:hover{
    border-bottom: 2px solid #35a6b6;
}
nav a{
    color: white;
    text-decoration: none;
}
nav .btn-wrapper{
    gap: 4px;
}
nav .btn-green, nav .btn-white{
    margin: 0;
    font-size: 14px;
}
.btn-wrapper{
    display: flex;
    gap: 13px;
}
.btn-green{
    padding: 10px 25px;
    background-color: #35a6b6;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    transition: .3s ease all;
    margin-right: 20px;
    border: 2px solid #35a6b6;
    font-weight: 700;
}
.btn-green:hover{
    background-color: #26808c;
}
.btn-white{
    padding: 10px 25px;
    color: #35a6b6;
    border: 1px solid #35a6b6;
    border-radius: 10px;
    font-size: 14px;
    background-color: transparent;
    font-weight: 700;
    transition: .3s ease all;
}
.btn-white:hover{
    background-color: #000b1092;
}
/* every step counts start */
section.every-step{
    background: url(./tiptop_files/vision_lines_bg.dd950598fd6a14f1e897.png) #001B26;
    background-size: contain;
    height: 144vh;
    position: relative;
}
div.phone{
    background: url(./tiptop_files/vision_triangles_bg_test.ba50067759b8ffa1fa7d.jpg);
    background-position: center center;
    background-size: cover;
    width: 93%;
    min-height: 140vh;
    padding-left: 20px;
    border-radius: 20px;
    position: absolute;
    top: -40px;
    right: 50px;
}
div.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.phone h2{
    font-size: 72px;
    font-weight: 800;
    line-height: 100px;
    color: white;
    margin-top: 120px;
}
div.phone p{
    font-size: 28px;
    color: #bac9cf;
    font-weight: 400;
    margin: 90px 0;
}
div.phone .phone-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.phone .phone-img video{
    width: 90%;
}
div.phone a{
    text-decoration: none;
}
div.phone .btn-green{
    color: white;
}
div.svgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
}
div.items{
    display: flex;
    align-items: center;
}
div.item{
    width: 100px;
    height: 100px;
    background: rgba(0, 27, 38, 0.125);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
div.items span{
    color: #ffffffa8;
    font-size: 20px;
}
/* every step counts ends */

/* small step starts */
section.small-step{
    background-color: #001B26;
    padding-top: 120px;
    min-height: 159vh;
}
section.small-step div.content-wrapper{
    display: flex;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
    gap: 50px;
}
header.small-step{
    text-align: center;
}
header.small-step h1{
    font-size: 63px;
    color: white;
}
header.small-step p{
    color: #ffffffa8;
    font-size: 25px;
}
div.content-wrapper div p{
    font-size: 20px;
    color: #ffffffa8;
}
div.content-wrapper .text p:first-child{
    margin-bottom: 50px;
}
/* small step ends */

/* sneaker nfts */
#sneaker{
    background-color: #001B26;
    padding: 100px 0 30px;
}
#sneaker .container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 40px;
}
#sneaker .container .vid-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sneaker .container button{
    padding: 30px;
    font-size: 20px;
    display: block;
    width: 320px;
    color: white;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    outline: none;
}
#sneaker .container button:focus{
    background-color: rgba(53, 166, 182, 0.2);;
}
#sneaker .container .video{
    display: flex;
    align-items: center;
    justify-content: center;
}
#sneaker .container video{
    width: 400px;
    height: 292px;
}
#sneaker .btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 130px;
}
#sneaker .btn-wrapper .btn-green,
#sneaker .btn-wrapper .btn-white{
    margin: 0;
}
/* end sneaker nfts */

/* join us starts */
section.join-us{
    background-color: #35A6B6;
    padding: 150px 0;
    padding-left: 150px;
}
section div.join-us{
    display: flex;
    gap: 100px;
    align-items: center
}
section div.join-us video{
    width: 40%;
}
section div.join-us div.three-steps{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
section div.join-us div.three-steps h1{
    font-size: 60px;
    font-weight: 700;
    max-width: 600px;
    color: #fff;
    margin-bottom: 80px;
}
section div.join-us div.three-steps div.items div.list h2{
    font-weight: 400;
}
section div.join-us div.three-steps div.items{
    display: flex;
    gap: 30px;
}
section div.join-us div.three-steps div.items span{
    color: white;
    font-weight: 700;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
section div.join-us div.three-steps div.items div.list{
    display: flex;
    flex-direction: column;
}
section div.join-us div.three-steps div.items div.list h2{
    font-size: 24px;
    color: white;
    font-weight: 600;
}
section div.join-us div.three-steps div.items div.list p{
    color: #ffffffa8;
}
section div.join-us div.three-steps div.google-play{
    display: flex;
    gap: 20px;
    margin-top: 60px;
}
/* join us ends */
/* roadmap starts */
div.roadmap{
    background-image: url(./tiptop_files/roadmap_map.288be8f6d6113fcefffe.jpg);
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 2163px;
}
/* roadmap ends */
section.city{
    height: 113vh;
    background-color: #001B26;
    position: relative;
}
video.city{
    width: 100%;
}
svg.city{
    position: absolute;
    right: 3%;
    bottom: 10vh;
}
/* The team */
section.the-team{
    background-color: #001B26;
    text-align: center;
    padding: 100px 0;
}
section.the-team h1{
    font-size: 53px;
    color: #fff;
}
section.the-team div.team-flex{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5%;
    margin: 80px auto;
}
section.the-team div.team-flex p{
    font-size: 20px;
    color: #fff;
}
section.the-team div.team-flex span{
    display: block;
    color: #ffffffa8;
    margin-bottom: 10px;
}
section.the-team div.team-flex img [src="./tiptop_files/linked-in-team.svg"]{
    width: 15px;
    height: 15px;
}
.team-flex div img.mates{
    width: 220px;
    margin-bottom: 20px;
}
/* The team ends*/

/* ecosystem */
section#ecosystem{
    background-color: rgb(26, 50, 60);
    padding: 90px 0;
}
section#ecosystem .eco-info h2{
    color: white;
    font-size: 50px;
}
section#ecosystem .eco-info p{
    font-size: 20px;
    margin: 40px 0 65px;
    line-height: 2;
    color: #fff;
}
section#ecosystem .ecosystem{
    width: 100%;
    padding: 3%;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 6rem;
}
section#ecosystem .ecosystem .eco-video video{
    width: 500px;
}
/* end ecosystem */

/* FAQs */
section#FAQs{
    background-color: #001B26;
    text-align: center;
    height: 120vh;
    color: #fff;
    padding: 100px 40px;
}
section#FAQs h1{
    font-size: 60px;
}
section#FAQs .btn-holder{
    margin-top: 80px;
}
section#FAQs .btn-holder button{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
    width: 100%;
    cursor: pointer;
    outline: none;
}
section#FAQs .btn-holder button div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
section#FAQs .btn-holder button div + p{
    font-size: 18px;
    text-align: left;
    line-height: 1.3;
    color: #ffffffa8;
    display: none;
    margin-top: 30px;
    transition: 3s ease all;
}
section#FAQs .btn-holder button div + p.show{
    display: block;
    transition: 3s ease all;
}
section#FAQs .btn-holder button div i{
    font-weight: 500;
}
section#FAQs .btn-holder button div i.rotate{
    transform: rotate(90deg);
    color: #35A6B6;
}
section#FAQs .btn-holder button div p.color{
    color: #35A6B6;
}
/* end FAQs */

/* subscription */
section#subscription{
    background: #001B26 url(./tiptop_files/vision_lines_bg.dd950598fd6a14f1e897.png);
    background-size: 100% 60%;
    background-repeat: no-repeat;
}
section#subscription .subscription{
    background-color: rgb(26, 50, 60);
    width: 98%;
    border-radius: 30px;
    padding: 80px 30px;
    height: 550px;
    margin: auto;
    text-align: center;
}
section#subscription .subscription h1{
    font-size:60px;
    color: #fff;
}
section#subscription .subscription h2{
    margin: 10px auto 60px;
    max-width: 920px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffffa8
}
section#subscription .subscription input[type="email"]{
    font-size: 14px;
    margin-top: 5px;
    color: #001B26;
    outline: none;
    width: 520px;
    margin: 0px auto;
    border-radius: 8px;
    background: rgb(217, 217, 217);
    font-size: 18px;
    display: block;
    border: 1px solid transparent;
    padding: 10px 15px;
}
section#subscription .subscription input[type="email"]:hover{
    border: 1px solid #35A6B6;
}
section#subscription .subscription label{
    font-size: 14px;
    color: white;
}
section#subscription .subscription .checkbox{
    margin-top: 30px;
}
section#subscription .subscription input[type="submit"]{
    background: #35A6B6;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #35A6B6;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.25s ease-out 0s;
    padding: 10px 20px;
    margin-top: 30px;
}
section#subscription .subscription input[type="submit"]:hover{
    background-color: #2e9aa8;
}
footer{
    min-height: 95vh;
    padding: 100px 20px;
}
#footer{
    display: flex;
    min-height: 450px;
}
#footer .application{
    display: flex;
}
footer .footer-logo img{
    width: 210px;
}
footer .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    max-width: 34%;
    margin-right: 100px;
}
footer .footer-logo .download{
    display: flex;
    gap: 1.5rem;
}
footer .footer-logo{
    font-size: 17.8px;
    font-weight: 500;
}
footer .footer-logo .download img{
    width: 160px;
}
.section-title{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 35px;
    color: #fff;
}
.section{
    margin-right: 100px;
}
.section a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;
    color: #35A6B6;
}
.social{
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social img{
    width: 45px;
    cursor: pointer;
}
#footer div .policy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #35A6B6;
}
p.copyright{
    font-size: 18px;
    color: #fff;
}
/* end subscription */

/* Media Querries */

@media screen and (max-width: 1200px){
    img[src="./tiptop_files/bars.svg"], img[src="./tiptop_files/close-bars.svg"]{
        display: block;
        z-index: 100;
    }
    nav .nav-links{
        position: absolute;
        right: -200px;
        display: none;
        top: 8vh;
        display: initial;
        width: 200px;
        background-color: #001B26;
        box-shadow: -5px 5px 20px #001B26;
        margin: 0;
        padding: 20px;
        transition: all 0.5s ease 0s;
        transform: translateX(100%);
        opacity: 0;
        filter: blur(5px);
    }
    nav .nav-links.active{
        /* left: 77%; */
        right: 0;
        display: block;
        transition: all 0.5s ease 0s;
        transform: translateX(0px);
        opacity: 1;
        filter: none;
    }
    nav .btn-wrapper{
        flex-direction: column;
        gap: 20px;
    }
    nav ul{
        display: initial;
    }
    nav ul li:nth-child(5){
        display: block;
    }
    nav ul li:nth-child(7) a, nav ul li:nth-child(8) a, nav ul li:nth-child(9) button{
        color: #35a6b6;
    }
    nav ul li a, nav button{
        font-weight: 400;
        margin-bottom: 20px;
        display: block;
    }
    nav ul li a:hover , nav button:hover{
        border: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    div.phone{
        transform: translateY(-10%);
    }
    div.private{
        bottom: 10vh;
    }
}

/* tablet media querry */
@media screen and (max-width: 1024px){
    body{
        background-color: #001B26;
    }
    div.private{
        position: initial;
        width: 97%;
        display: block;
        background-color: #19323c;
        margin: 10px auto;
    }
    video.hero, video.city {
        display: none;
    }
    section{
        height: auto;
    }
    section.hero{
        height: 90px;
        background-color: #001B26;
    }
    img.mute{
        display: none;
    }

    /* every step counts */
    section.every-step{
        background-size: cover;
    }
    div.phone h2{
        font-size: 50px;
        line-height: initial;
        margin-top: 0;
    }
    div.phone{
        width: 98%;
        position: initial;
        margin: auto;
        padding: 40px;
        margin-top: 170px;
    }
    div.content{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    div.phone p{
        font-size: 16px;
        margin: 25px 0 50px;
    }
    div.phone .phone-img video{
        width: 60%;
    }
    div.svgs{
        margin-top: 50px;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    div.items span{
        font-size: 20px;
    }
    /* every step counts ends*/
    
    /* small step starts */
    section.small-step{
        padding: 590px 0 0 0;
    }
    header.small-step h1{
        font-size: 48px;
    }
    header.small-step p{
        font-size: 24px;
        margin-top: 20px;
    }
    section.small-step div.content-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }
    section.small-step div.content-wrapper img{
        width: 93%;
    }
    div.text{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }
    div.content-wrapper div p{
        font-size: 20px;
    }
    /* small step ends */

    /* join us start */
    section.join-us{
        padding: 150px 30px;
    }
    section div.join-us div.three-steps h1{
        font-size: 48px;
        margin-bottom: 0;
    }
    section div.join-us{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    section div.join-us video{
        width: 100%;
        margin: auto;
    }
    
section div.join-us div.three-steps{
    width: 100%;
}
    section div.join-us div.three-steps div.items span{
        padding: 30px;
        width: 0;
        height: 0;
        font-size: 25px;
    }
    /* join us ends */

    /* roadmap starts  */
    div.roadmap{
        background-image: url(./tiptop_files/roadmap_mob.3be4bd09e04775759f98.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 160px 0px 20px;
        position: relative;
        transition: all 0.5s ease 0s;
        height: 710px;
    }
    /* roadmap ends  */
    section.city{
        display: none;
    }

    /* the team  */
    section.the-team div.team-flex{
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        padding: 0;
    }
    section.the-team div.team-flex .mates{
        width: 200px;
        height: 200px;
    }
    /* the team ends  */

    /* ecosystem */
    section#ecosystem .ecosystem{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        gap: 3rem;
        text-align: center;
    }
    section#ecosystem .ecosystem .eco-video video{
        width: 470px;
    }
    section#ecosystem .eco-info h2{
        font-size: 30px;
    }
    section#ecosystem .eco-info p{
        font-size: 16px;
        width: 600px;
        margin-bottom: 80px;
    }
    .btn-wrapper.one{
        margin: auto;
        display: inline-block;
    }
    /* ecosystem ends*/

    /* FAQs */
    section#FAQs{
        padding: 100px 15px;
    }
    section#FAQs .btn-holder{
        margin-top: 60px;
    }
    section#FAQs h1{
        font-size: 48px;
    }
    /* FAQs ends*/

    /* subscription */
    section#subscription .subscription{
        width: 96%;
        height: 375px;
        padding: 40px 0;
    }
    section#subscription .subscription h1{
        font-size: 32px;
    }
    section#subscription .subscription h2{
        font-size: 13.5px;
        line-height: initial;
        margin: 10px auto 30px;
    }
    section#subscription .subscription .checkbox{
        margin-top: 25px;
    }
    section#subscription .subscription input[type="submit"]{
        margin-top: 40px;
    }
    /* subscription ends*/

    /* footer */
    footer{
        padding: 30px 0;
    }
    #footer{
        flex-direction: column;
    }
    footer .footer-logo{
        min-width: 100%;
        margin: 0;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
    footer .footer-logo img{
        width: 200px;
    }
    footer .footer-logo p{
        font-size: 16px;
        max-width: 700px;
        margin: 0 20%;
    }
    footer .footer-logo .download{
        gap: 1rem;
    }
    #footer .application{
        justify-content: space-between;
        padding: 0 20%;
    }
    .section{
        margin: 25px 0;
        text-align: center;
    }
    .section-title{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .section a{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .community{
        width: 100%;
        text-align: center;
        padding: 0 20%;
    }
    #footer div .policy{
        width: 85%;
        font-size: 16px;
        margin: 30px auto;
    }
    p.copyright{
        font-size: 16px;
    }
    .social{
        display: flex;
        height: 50px;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .social img{
        height: 40px;
        width: 40px;
    }
    /* footer ends */
}
/* tablet media querry ends*/

/* big phone screen size */
@media screen and (max-width:765px){
    .btn-white:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
    .btn-white, .btn-green{
        padding: 10px;
        font-size: 14px;
    }
    div.phone .phone-img video{
        width: 100%;
    }
    
    /* small step starts */
    section.small-step{
        padding: 680px 0 0 0;
    }
    header.small-step h1{
        font-size: 48px;
    }
    section.small-step div.content-wrapper{
        grid-template-columns: 1fr;
    }
    /* small step ends */

    /* nfts starts */
    #sneaker{
        padding: 0 0 30px 0;
    }
    #sneaker .container{
        grid-template-columns: 1fr;
    }
    #sneaker .container button{
        width: 100%;
    }
    #sneaker .container .video{
        margin-top: 80px;
    }
    /* nfts ends */

    /* join us starts */
    section div.join-us{
        grid-template-columns: 1fr;
    }
    section div.join-us video{
        width: 100%;
    }
    section.join-us{
        padding: 50px 20px;
    }
    section div.join-us div.three-steps h1{
        width: 100%;
    }
    section div.join-us .google-play{
        align-items: center;
        justify-content: center;
    }
    /* join us ends */

    /* FAQs starts */
    section#FAQs .btn-holder button{
        font-size: 16px;
    }
    section#FAQs{
        height: auto;
    }
    .social{
        gap: 1rem;
        margin: auto;
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }
    #footer div .policy{
        width: 100%;
        margin: 80px 0 30px;
    }
    div.community{
        width: 100%;
        padding: 0 20px;
    }
    #footer .application{
        padding: 0 20%;
    }
    /* FAQs ends */

}
/* big phone screen size ends*/

/* small phone screen size*/
@media screen and (max-width: 560px){
    .phone .content .btn-green, .phone .content .btn-white{
        width: 100%;
        display: block;
        text-align: center;
    }
    .phone .content .btn-green{
        margin-bottom: 20px;
    }
    section div.join-us div.three-steps h1{
        margin-bottom: 30px;
    }
    section#subscription .subscription{
        padding: 40px 20px;
        height: auto;
        width: 93%;
    }
    section#subscription .subscription h1{
        width: 323px;
        margin: auto;
    }
    section#subscription .subscription h2{
        width: 386px;
    }
    section#subscription .subscription input[type="email"]{
        width: 100%;
    }
}
/* small phone screen size ends*/
/* end Media Querries */